*.class

# Package Files #
*.jar
*.war
*.ear


# Compiled projects #
target/

# eclipse files
.project
.classpath
.settings/

# idea project files
*.iml
.idea/
build/

# video files
*.avi

# auto-deployed libraries
*.dll

# gradle files
.gradle/

# blend backup files
*.blend1
*.blend2
