*.class

# Package Files #
*.jar
*.war
*.ear


# Compiled projects #
target/

# eclipse files
.project
.classpath
.settings/

# video files
*.avi

# auto-deployed libraries
*.dll

# blend backup files
*.blend1